body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('../src/images/1600px-Exchange_Money_Conversion_to_Foreign_Currency.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}